#sidebar {
  height: 100%;
  padding-top: 20px;
  font-size: 13px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  list-style-type: none;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

/* Align the logo in the navbar */
.navbar-brand img {
  margin-top: -6px;
  margin-right: 10px;
}

/* Make h2 <em> not italics */

h2 em {
  font-style: normal;
}

.jstree-default .jstree-anchor {
  line-height: 15px;
  white-space: normal !important;
  height: auto;
  padding: 1px 2px;
  margin-block-end: 9px;
}