/* sidebar header background color */
.wy-side-nav-search {
    background-color: #D63E29;
}

/* top background on mobile devices */
.wy-nav-top {
    background: #D63E29;
}

/* sidebar section names */
.wy-menu-vertical p.caption {
    color: #D63E29;
}

.rst-content .warning .admonition-title {
    background: #d40 linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 28px 28px
}

.rst-content .warning {
    background: #ffd238;
}

.test_header {
    display: none;
}

.test_config {
    display: none;
}

.toggle .header {
    display: block;
    clear: both;
}

.toggle .header p {
    font-size: 70%;
}